.main-container {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  height: 100vh;
  width: 100vw;
}

.search-bar-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 200px;
  padding-top: 20vh;
  width: 40%;
}

.navbar {
  border-radius: 10px;
}

.navbar-custom-bg {
  background-color: #d9afd9;
  border-radius: 0;
  color: #ffffff;

  p,
  .search-icon {
    font-size: 1.5rem;
    margin: 0.5rem;
    font-weight: 500;
  }

  .icon-container {
    display: flex;
    align-items: center;
  }
}

.title-container {
  display: flex;
  flex-direction: row;
}

.searchbar-container {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}
